---
import Back from '@/icons/Back.astro';
import Home from '@/icons/Home.astro';
import { FavoriteFilled } from '@/components/ui/Player';
---

<div class="fixed right-0 top-0 flex w-full z-[9999999] justify-center">
    <div
        class="w-full h-full flex bg-gray-800 bg-opacity-50 justify-between z-[999999] items-center py-4 gap-4 px-8">
        <p class="h-full text-4xl font-bold items-center flex">Beat</p>
        <div class="w-fit px-2 flex gap-4">
            <a
                href="/"
                class="m-auto w-12 h-12 rounded-full bg-zinc-900 hover:bg-zinc-800 transition-all duration-200 flex justify-center items-center z-[9999999999]">
                <Back />
            </a>
            <a
                href="/"
                class="m-auto w-12 h-12 rounded-full bg-zinc-900 hover:bg-zinc-800 transition-all duration-200 flex justify-center items-center text-white">
                <Home />
            </a>
            <a
                href="/favs"
                class="m-auto w-12 h-12 rounded-full bg-zinc-900 hover:bg-zinc-800 transition-all duration-200 flex justify-center items-center text-white">
                <FavoriteFilled />
            </a>
        </div>
    </div>
</div>
