---
import Layout from '../../layouts/Layout.astro';
import { Favs } from '@/components/favs/favs';
import { supabase } from '@/lib/supabase';
import { SongBar } from '@/components/songBar';
import { ProfileModal } from '@/components/ui/profileModal';
import { MarqueeChartSongsIndividual } from '@/components/ui/marqueeChartSongs';
import CardPlaylist from '../../components/song/cardPlaylist.astro';
const invited =
    'https://cdn.icon-icons.com/icons2/37/PNG/512/Guest_theapplication_2906.png';
const bg = 'https://pbs.twimg.com/media/ESmuaQOXgAEvo67?format=jpg&name=large';
let blurBG = true;

const {
    data: { user },
} = await supabase.auth.getUser();

const usermetadata = await user?.user_metadata;
console.log(usermetadata);
---

<Layout title="Favoritos">
    <div
        id="playlist-container"
        class="relative flex flex-col bg-zinc-900 w-full min-h-full">
        <header class="flex flex-row gap-4 z-10 w-full py-12 px-6 z-1">
            <img
                src={bg}
                class={`absolute object-cover w-full h-full shadow-lg -z-10 top-0 right-0 opacity-20 object-center ${blurBG ? 'filter blur-[0px]' : ''}`}
                draggable="false"
                alt="Album cover"
                loading="lazy"
                style="mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0.8) 80%, rgba(0,0,0,0) 100%);"
            />
        </header>
        <div class="flex flex-col min-w-full min-h-screen gap-4">
            <div class="min-w-full z-50 px-4 md:lg:px-8">
                <div
                    class="z-50 flex flex-row gap-4 w-full items-center justify-between min-h-fit p-5 bg-zinc-900 bg-opacity-30 mx-1 rounded-md">
                    <div class="flex gap-2 items-center">
                        <picture
                            class="w-12 h-12 rounded-md shadow-lg overflow-hidden">
                            <img
                                src={usermetadata?.picture}
                                alt="Profile picture"
                                draggable="false"
                                class="w-full h-full rounded-full"
                            />
                        </picture>
                        <p class="text-2xl font-bold">
                            {usermetadata?.full_name}
                        </p>
                    </div>
                    <ProfileModal data={usermetadata} client:load />
                </div>
            </div>
            <!-- <MarqueeChartSongsIndividual client:load />-->
            <div class="flex flex-col gap-2 px-4 md:lg:px-8 mt-8">
                <h1 class="text-5xl font-extrabold">Albums</h1>
                <div class="w-full h-full flex gap-8 flex-col md:lg:flex-row">
                    <div class="flex-grow min-h-full flex flex-wrap gap-4">
                        <CardPlaylist
                            name="Favoritos"
                            description="Favoritos"
                            src="https://mussica.info/wp-content/uploads/2021/03/juan-pablo-machado-profesional-work-chilledcow-1.jpeg"
                        />
                        <CardPlaylist
                            name="Favoritos"
                            description="Favoritos"
                            src="https://mussica.info/wp-content/uploads/2021/03/juan-pablo-machado-profesional-work-chilledcow-1.jpeg"
                        />
                        <CardPlaylist
                            name="Favoritos"
                            description="Favoritos"
                            src="https://mussica.info/wp-content/uploads/2021/03/juan-pablo-machado-profesional-work-chilledcow-1.jpeg"
                        />
                        <CardPlaylist
                            name="Favoritos"
                            description="Favoritos"
                            src="https://mussica.info/wp-content/uploads/2021/03/juan-pablo-machado-profesional-work-chilledcow-1.jpeg"
                        />
                        <CardPlaylist
                            name="Favoritos"
                            description="Favoritos"
                            src="https://mussica.info/wp-content/uploads/2021/03/juan-pablo-machado-profesional-work-chilledcow-1.jpeg"
                        />
                        <CardPlaylist
                            name="Favoritos"
                            description="Favoritos"
                            src="https://mussica.info/wp-content/uploads/2021/03/juan-pablo-machado-profesional-work-chilledcow-1.jpeg"
                        />
                    </div>
                    <div class="w-[30%]">
                        <p>aaaaaa</p>
                    </div>
                </div>
            </div>
        </div>
        <footer class="w-full h-20 my-20 m-auto px-8 z-50">
            <div
                class="w-full h-[80%] py-8 text-white justify-center items-center bg-gray-800 bg-opacity-10 rounded-md p-2 flex gap-2">
                <p>
                    Made with 💖 by{' '}
                    <a
                        href="https://github.com/Luqueee"
                        target="_blank"
                        class="font-extrabold hover:border-b-2 hover:border-b-white border-b-2 border-b-transparent transition-all duration-200">
                        Adria Cabrera Luque
                    </a>
                </p>
            </div>
        </footer>
        <div class="fixed bottom-0 z-[9999999] w-full">
            <SongBar
                client:load
                transition:name="media-player"
                transition:persist
            />
        </div>
    </div>
</Layout>
