---
import LibraryIcon from '@/icons/Library.astro';
import HomeIcon from '@/icons/Home.astro';
import SearchIcon from '@/icons/Search.astro';
import SideMenuItem from '../SideMenuItem.astro';
import SideMenuCard from '../SideMenuCard.astro';
import { playlists } from '@/lib/data';
import { LoginCard } from '../loginMenu';
import { supabase } from '@/lib/supabase';

const { data } = await supabase.auth.getSession();
---

<style>
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }

    /* For IE, Edge and Firefox */
    .scrollbar-hide {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
</style>

<nav class="flex flex-col flex-1 gap-2 overflow-auto scrollbar-hide">
    <div class="bg-zinc-900 rounded-lg p-2 h-full">
        <ul>
            <SideMenuItem href="/">
                <HomeIcon />
                Inicio
            </SideMenuItem>

            <SideMenuItem href="/search">
                <SearchIcon />
                Buscar
            </SideMenuItem>
        </ul>

        <LoginCard client:visible />

        <div class="bg-zinc-900 rounded-lg p-2 flex-1">
            <ul>
                <SideMenuItem href="/">
                    <LibraryIcon />
                    Tu biblioteca
                </SideMenuItem>

                {
                    playlists.map((playlist) => (
                        <SideMenuCard playlist={playlist} />
                    ))
                }
            </ul>
        </div>
    </div>
</nav>
