---
import { ResultPlaylist } from '../ui/searchBar';

interface Props {
    data: any;
}

const { data } = Astro.props;

//console.log(data, "aaa");
---

<table class="table-auto text-left min-w-full divide-y divide-gray-500/20">
    <!-- <thead class="">
        <tr class="text-zinc-400 text-sm">
            <th class="px-4 py-2 font-light">Título</th>
            <th class="px-4 py-2 font-light">Álbum</th>
            <th class="px-4 py-2 font-light"><Time /></th>
        </tr>
    </thead>-->

    <tbody>
        <tr class="h-[16px]">
            <!--{
                data.map((song: any, index: any) => (
                    <CardSongPlaylist song={song} />
                ))
            } -->
            {
                data.map((song: any, index: any) => (
                    //console.log(song, "song"),
                    <ResultPlaylist
                        {song}
                        client:load
                        transition:name={`playlist ${song.song_id} image`}
                    />
                ))
            }
        </tr>
    </tbody>
</table>
