---
import Layout from '../layouts/Layout.astro';
import PlayListItemCard from '@/components/blocks/PlayListItemCard.astro';
import { SearchBar } from '@/components/ui/searchBar';
import Greeting from '@/components/Greeting.svelte';
import Particles from '@/components/ui/particles';
export const prerender = true;
import WordPullUp from '@/components/magicui/word-pull-up';
import GradualSpacing from '@/components/magicui/gradual-spacing';
import MarqueeChartSongs from '@/components/ui/marqueeChartSongs';
import { SongBar } from '@/components/songBar';
---

<Layout title="Spotify Clone">
    <div id="playlist-container" class="elative w-screen h-full">
        <!-- <PageHeader /> -->

        <div class="relative z-10 pt-8">
            <!-- <Greeting />-->
            <section class="my-16 text-center">
                <GradualSpacing
                    client:load
                    className="font-display text-center text-9xl font-bold tracking-[-0.1em]  text-black dark:text-white  md:leading-[5rem]"
                    text="Beat"
                />
                <WordPullUp
                    client:load
                    className="text-4xl my-8 font-bold tracking-[-0.02em] text-black dark:text-white md:leading-[5rem] "
                    words="Search a song and feel the beat"
                />

                <Particles
                    className=" inset-0 w-full h-full fixed -z-10"
                    quantity={1000}
                    ease={40}
                    color={'#ffffff'}
                    staticity={20}
                    refresh
                    client:load
                />
            </section>

            <div class="w-full h-full">
                <MarqueeChartSongs client:load />
                <SearchBar client:load />
            </div>
        </div>
        <div class="fixed bottom-0 z-[9999999] w-full">
            <SongBar
                client:load
                transition:name="media-player"
                transition:persist
            />
        </div>
        <style></style>
    </div>
</Layout>
