---
import Layout from '../../layouts/LayoutMusic.astro';

import { MenuReproductor } from '@/components/menu/MenuReproductor';
---

<Layout title="Favoritos">
    <div
        id="playlist-container"
        class="relative flex flex-col bg-zinc-900 w-full h-full min-w-screen min-h-screen">
        <MenuReproductor client:load />
    </div>
</Layout>
