---
import MenuBar from '@/components/menu/MenuBar.jsx';
import '@/styles/globals.css';
import { ViewTransitions } from 'astro:transitions';
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="lenis lenis-smooth">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <ViewTransitions fallback="none" />
        <script is:inline src="/scripts/lenis/lenis.js"></script>
        <script is:inline>
            // Script to handle Lenis library settings for smooth scrolling
            const lenis = new Lenis();

            function raf(time) {
                lenis.raf(time);
                requestAnimationFrame(raf);
            }

            requestAnimationFrame(raf);
        </script>
    </head>
    <body class="bg-zinc-900 min-h-full transition-all duration-500 relative">
        <div id="app" class="relative h-full w-full text-white">
            <MenuBar client:visible />
            <main class="min-w-full h-full">
                <slot class="" />
            </main>
        </div>

        <style is:global>
            html,
            body {
                font-family: 'CircularStd', system-ui, sans-serif;
                background: #010101;
                color: white;
                margin: 0;
                padding: 0;
                overflow-x: hidden; /* Prevent horizontal overflow */
                scroll-behavior: smooth;
            }

            body {
                min-height: 100dvh; /* Full screen height */
                display: flex;
                flex-direction: column;
            }

            #app {
                flex: 1;
                display: flex;
                flex-direction: column;
            }

            main {
                width: 100%; /* Ensure it doesn't overflow */
                max-width: 100vw; /* Prevent horizontal overflow */
                box-sizing: border-box; /* Include padding and border in the element's total width and height */
            }

            ::-webkit-scrollbar {
                width: 5px;
                height: 5px;
                position: fixed;
            }

            /* Track */
            ::-webkit-scrollbar-track {
                border-radius: 20px;
            }

            /* Handle */
            ::-webkit-scrollbar-thumb {
                background: rgb(24 24 27);
                border-radius: 20px;
            }

            .player-wrapper {
                position: relative;
                padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
            }

            .react-player {
                position: absolute;
                top: 0;
                left: 0;
            }

            html.lenis,
            html.lenis body {
                height: auto;
            }

            .lenis.lenis-smooth {
                scroll-behavior: auto !important;
            }

            .lenis.lenis-smooth [data-lenis-prevent] {
                overscroll-behavior: contain;
            }

            .lenis.lenis-stopped {
                overflow: hidden;
            }

            .lenis.lenis-scrolling iframe {
                pointer-events: none;
            }

            @font-face {
                font-family: 'CircularStd';
                src: url('/fonts/CircularStd-Medium.woff2') format('woff2');
                font-weight: 500;
                font-style: normal;
                font-display: swap;
            }

            @font-face {
                font-family: 'CircularStd';
                src: url('/fonts/CircularStd-Book.woff2') format('woff2');
                font-weight: 400;
                font-style: normal;
                font-display: swap;
            }

            @font-face {
                font-family: 'CircularStd';
                src: url('/fonts/CircularStd-Light.woff2') format('woff2');
                font-weight: 300;
                font-style: normal;
                font-display: swap;
            }

            @font-face {
                font-family: 'CircularStd';
                src: url('/fonts/CircularStd-Bold.woff2') format('woff2');
                font-weight: 700;
                font-style: normal;
                font-display: swap;
            }

            @font-face {
                font-family: 'CircularStd';
                src: url('/fonts/CircularStd-Black.woff2') format('woff2');
                font-weight: 900;
                font-style: normal;
                font-display: swap;
            }
        </style>
    </body>
</html>
